.footer__link {
  text-decoration: none;
  color: #a19f8b;
}

.footer__link:hover {
  color: rgb(218, 142, 87);
}

.footer__link:active {
  color: rgb(242, 116, 38);
}

.footer {
  border-top: 1px solid rgb(243, 213, 108);
  font-size: small;
  text-align: center;
}
